<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/img/veterinaria.jpg" class="d-block mx-lg-auto img-fluid" alt="Veterinaria-img" width="1000" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Veterinaria</h1>
        <p class="lead">Qárea de la medicina la cual se centra en el cuidado de la salud de los animales y en ocasiones esta carrera es vista de manera muy romántica por los amantes de los animales.</p>
      </div>
    </div>
    <div class="container px-4 py-5" id="hanging-icons">
        <h2 class="pb-2 border-bottom">Menú operaciones</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-4">
          <div class="col d-flex align-items-start">
            <div>
              <h3 class="fs-2">Clientes</h3>
              <p>En este apartado usted puede gestionar la información de los clientes.</p>
              <a href="/propietarios" class="btn btn-primary">
                Ver m&aacute;s
              </a>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div>
              <h3 class="fs-2">Mascotas</h3>
              <p>En este apartado usted puede gestionar la información de las mascotas.</p>
              <a href="/mascotas" class="btn btn-primary">
                Ver m&aacute;s
              </a>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div>
              <h3 class="fs-2">Servicios</h3>
              <p>En este apartado usted puede gestionar los servicios prestados por la veterinaria.</p>
              <a href="/servicios" class="btn btn-primary">
                Ver m&aacute;s
              </a>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div>
              <h3 class="fs-2">Facturas</h3>
              <p>En este apartado usted puede gestionar las facturas de los clientes.</p>
              <a href="/facturas" class="btn btn-primary">
                Ver m&aacute;s
              </a>
            </div>
          </div>
        </div>
      </div>
  </div>